/* Основные*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
:root {
  --color-h: #212121;
  --color-text: #757575;
  --color-footer-adress: rgba(255, 255, 255, 0.6);
  --primary-white: #ffffff;
  --color-hf-logo: #2196f3;
  --color-hero-footer: #2f303a;
  --section-padding: 94px;
  --footer-paddingtb: 60px;
  --element-margin: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-h);
  background-color: var(--primary-white);
}
/*button index*/
.btn {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.btn-primary {
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #188ce8;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*header*/
/*hero*/

/*main index*/
/*about описание преимуществ*/

/*work виды работ*/

/*team сотрудники*/

/* portfolio*/

/* button portfolio*/

/*Footer*/

/*Modal*/
