.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
}
.about-link {
  width: 270px;
  height: auto;
}

.about-list {
  display: flex;
  justify-content: space-between;
}
.about-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}
.about-im {
  @include align-list;
  justify-content: center;
  margin-bottom: var(--element-margin);
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
}
