.clients-container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.clients-name {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-h);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-link {
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-hf-logo);
    border: 1px solid var(--color-hf-logo);
  }
}
.clients-item {
  & + & {
    margin-left: var(--element-margin);
  }
}
.clients-icon {
  fill: currentColor;
}
