.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
}
.header__container {
  @include align-list;
}
.header-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav__item {
  & + & {
    margin-left: 50px;
  }
}
.header-contakt__item {
  & + & {
    margin-left: 50px;
  }
}
.header-contakt {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.list.header-contakt {
  margin-left: auto;
}
.navigation {
  @include align-list;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header span {
  color: #000000;
}
.header-nav__link {
  @include font(14px, 500, 1.14, 0.02em);
  color: var(--color-h);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-hf-logo);
  }
}
.header-contakt__cont {
  @include align-list;
  @include font(14px, 500, 1.14, 0.02em);
  color: var(--color-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--color-hf-logo);
  }
}
.header-contakt__icon {
  fill: currentColor;
  margin-right: 10px;
}
.btn-primary {
  @include align-list;
  @include font(null, 700, 1.87, 0.06em);
  background-color: var(--color-hf-logo);
  color: var(--primary-white);
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
