.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.portfolio-btn__list {
  margin-bottom: 15px;
}
.portfolio-btn__list {
  margin-left: 8px;
}
.btn-secondary {
  font-weight: 500;
  line-height: 1.62;
  background-color: #f5f4fa;
  color: var(--color-h);
  text-decoration: none;
  padding: 6px 22px;
  box-shadow: none;
  border-radius: none;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-hf-logo);
    color: var(--primary-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.portfolio-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.portfolio-list__link {
  display: block;
  margin-bottom: var(--element-margin);
  @include tab {
    margin-left: 30px;
    width: calc(100% / 2 - 30px);
  }
  @include desk {
    width: calc(100% / 3 - 30px);
  }
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-list__link:focus,
.portfolio-list__link:hover .portfolio-list__top-text {
  transform: translateY(0);
}
.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-list__top-text {
  @include font(18px, 400, 1.56, null);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary-white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__title {
  @include font(18px, null, 2, 0.06em);
  margin-bottom: 4px;
  color: var(--color-h);
}
.portfolio-list__text {
  @include font(16px, 400, 1.87, null);
  color: var(--color-text);
}
.portfolio-list__des {
  padding: 20px 24px;
  border-top: none;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
