:root {
  --color-h: #212121;
  --color-text: #757575;
  --color-footer-adress: rgba(255, 255, 255, 0.6);
  --primary-white: #ffffff;
  --color-hf-logo: #2196f3;
  --color-hero-footer: #2f303a;
  --section-padding: 94px;
  --footer-paddingtb: 60px;
  --element-margin: 30px;
}
